@import url('base.css');
.header{
	width: 100%;
	height: 40px;
	background: #EA9D20;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.header .left{
	width: 981px;
	height: 40px;
}
.header .right{
	width: 288px;
	height: 40px;
	display: flex;
	justify-content: center;
}
.header .left span{
	font-size: 12px;
	line-height: 40px;
	margin-right: 20px;
	color:white;
}
.header .left .iconfont{
	color:white;
	font-size: 12px;
}
.header .right .zuo{
	width: 35px;
	height: 40px;
	text-align: center;
}
.header .right .you{
	width: 17px;
	height: 40px;
	text-align: center;
}
.header .right a{
	display:block;
	font-size:12px;
	line-height: 40px;
	color: white;
}
.logo{
	width: 100%;
	height: 176px;
	display:flex;
	justify-content: center;
}
.logo .left{
	width: 357px;
	height: 176px;
	background: url(../img/logo.png) no-repeat;
	background-size: 219px 150px;
}
.logo .right{
	width: 912px;
	height: 176px;
}
.logo .right .top{
	width: 912px;
	height: 60px;
	margin-top: 90px;
	display:flex;
	justify-content: flex-end;
}
.logo .right .search{
	width:56px;
	height: 60px;
	margin-right: 20px;
}
.logo .right .search:nth-child(1){
	width: 28px;
}
.logo .right .search a{
	display: block;
	width: 56px;
	height: 60px;
	color:#ea9d20;
	font-size: 14px;
	font-weight: 600;
	margin-right: 30px;
	line-height: 50px;
}
.logo .right .search:hover{
	border-bottom:5px solid #ea9d20;
}





.mid{
	width: 100%;
	margin-top: 220px;
}
.mid .top{
	width: 100%;
	height: 82px;
	font-size: 24px;
	color:#dd9933;
	text-align: center;
}
.mid .bt{
	width: 330px;
	height: 16px;
	color:rgb(234,157,32);
	margin:0 auto;
}
.mid .bottom{
	width: 942px;
	height: 707px;
	margin:0 auto;
	margin-top: 20px;
}
.mid .tupian{
	width: 942px;
	height: 707px;
	margin:0 auto;
	margin-top: 20px;
}




.intro{
	width: 100%;
	height: 227px;
	background: #eaeaea;
	display:flex;
	justify-content: center;
}
.intro .left{
	width: 331px;
	height: 125px;
	display: flex;
	flex-direction: column;
}
.intro .midd{
	width: 331px;
	height: 167px;
	display: flex;
	flex-direction: column;
}
.intro .right{
	width: 331px;
	height: 83px;
}
.intro h2{
	color: rgb(105, 105, 105);
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 25px;
}
.intro a{
	font-size: 12px;
	color: rgb(128, 128, 128);
	text-align: center;
}
.intro h3,h4,h5{
	font-size: 12px;
    color: rgb(128, 128, 128);
    text-align: center;
}
.intro h3{
	margin-top: 50px;
}



.finish{
	width: 100%;
	height: 39px;
	background: #eaeaea;
}
.finish h2,h3{
	font-size: 12px;
	color:rgb(128,128,128);
	text-align: center;
}


